<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blockchain Based Cryptocurrency</title>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" />
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <section id="header">
        <a href="#"><img src="img/logo.png" class="logo" alt=""></a>
        <div>
            <ul id="navbar">
                <li><a href="indexb.html">Home</a></li>
                <li><a class="active" href="login.html">login<i class="fa-solid fa-user-cowboy"></i></a></li>
            </ul>
        </div>
    </section>
    <section id="middle">
        <div class="main">
            <input type="checkbox" id="chk" aria-hidden="true">
            <!--Sign Up Form Here-->
            <div class="signup">
                <form>
                    <label for="chk" aria-hidden="true">Sign UP</label>
                    <input type="text" name="text" placeholder="User name" required="">
                    <input type="email" name="email" placeholder="Email" required="">
                    <input type="password" name="pswd" placeholder="password" required="">
                    <button class="btn3">Sign up</button>
                </form>
            </div>
            <!-- Login Form Here -->
            <div class="login">
                <form>
                    <label for="chk" aria-hidden="true">Login</label>
                    <input type="text" name="text" placeholder="User name" required="">
                    <input type="password" name="pswd" placeholder="password" required="">
                    <button class="btn3">Login</button>
                </form>
            </div>
            
        </div>
    </section>
    <script src="script.js"></script>

</body>
</html>