<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blockchain Based Cryptocurrency</title>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" />
    <link rel="stylesheet" href="{{ url_for('static',filename='lp.css') }}">
</head>
<body>
    <section id="header">
        <a href="#"><img src="img/logo.png" class="logo" alt=""></a>
        <div>
            <ul id="navbar">
                <li><a class="active" href="indexb.html">Home</a></li>
                <li><a href="login.html">login<i class="fa-solid fa-user-cowboy"></i></a></li>
            </ul>
        </div>
    </section>
    <section id="view">



        {% for ch in response %}
            <div class="msg">   
                <h1>{{ch.chain}}</h1>
            </div>  
        {% endfor %}


        {% for ch in response %}
            <div class="msg">   
                <h1>{{ch.length}}</h1>
            </div>  
        {% endfor %}



    </section>
    <script src="script.js"></script>

</body>
</html>